.outermostContainer {
  text-align: center;
  display: grid; 
  grid-template-areas: 
    "lefty mid righty"
    "lefty mid righty"
    "footer footer righty";
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

/* * {
  border: 1px dashed black;
} */

.statSkillContainer {
  grid-area: lefty;
  display: grid;
  grid-template-areas: 
  "stats proficiency"
  "stats throws"
  "stats throws"
  "stats skills"
  "stats skills"
  "stats skills";
  width: 33%;
  border: 1px dashed black;
  width: fit-content;
}

.hpEtcContainer {
  grid-area: mid;
  display: grid;
  grid-template-areas:
  "ac ac init init speed speed"
  "maxHP maxHP maxHP maxHP maxHP maxHP"
  "tempHP tempHP tempHP tempHP tempHP tempHP"
  "hitDice hitDice hitDice deathSaves deathSaves deathSaves"
  "attacks attacks attacks attacks attacks attacks"
  ;
  width: 33%;
  border: 1px dashed black;
  width: fit-content;
}

.bioFeaturesContainer {
  grid-area: righty;
  display: grid;
  grid-template-areas: 
  "bio"
  "features"
  "features";
  width: 33%;
  border: 1px dashed black;
  width: fit-content;
}

.languageEquipmentContainer {
  grid-area: footer;
  display: grid;
  grid-template-areas: 
  "passiveWisdom equipment"
  "languages equipment"
  "languages equipment"
  "languages equipment"
  ;
  border: 1px dashed black;
}

.bottomLabel {
  font-size: small;
}

.stats {
  grid-area: stats;
}

.proficiencyBonus {
  grid-area: proficiency;
  
}

.savingThrows {
  grid-area: throws;
}

.skills {
  grid-area: skills;
}

.armorClass {
  grid-area: ac;
}

.initiative {
  grid-area: init;
}

.speed {
  grid-area: speed;
}

.maxHP {
  grid-area: maxHP;
}

.tempHP {
  grid-area: tempHP;
}

.hitDice {
  grid-area: hitDice;
}

.deathSaves {
  grid-area: deathSaves;
}

.attacks {
  grid-area: attacks;
}

.bio {
  grid-area: bio;
}

.features {
  grid-area: features;
}

.passiveWisdom {
  grid-area: passiveWisdom;
}

.languages {
  grid-area: languages;
}

.equipment {
  grid-area: equipment;
}